<% const d = new Date() %>
<% const year = d.getFullYear() %>
<footer>
  <p class="copyright">&copy; <%= year %>, CSE 340 App</p>

  
  <!-- autres liens -->
  <a href="/error/trigger-error">Trigger 500 Error</a>


</footer>
