<main>
  <h1>Add New Classification</h1>

  <% if (message) { %>
    <div class="flash-message">
      <p><%= message %></p>
    </div>
  <% } %>

  <% if (errors && errors.length > 0) { %>
    <div class="form-errors">
      <ul>
        <% errors.forEach(error => { %>
          <li><%= error.msg %></li>
        <% }); %>
      </ul>
    </div>
  <% } %>

  <form action="/inv/add-classification" method="post" novalidate>
    <label for="classification_name">Classification Name</label>
    <input 
      type="text" 
      id="classification_name" 
      name="classification_name" 
      required 
      minlength="2" 
      maxlength="30"
      value="<%= typeof classification_name !== 'undefined' ? classification_name : '' %>"
    >
    
    <button type="submit">Add Classification</button>
  </form>
</main>
